* {
  margin: 0;
  padding: 0; /* são preenchimentos existentes do navegador */
  box-sizing: border-box;
  font-family: 'VT323', monospace;

}

body {
  display: flex;
  margin: 5px 50px 10px 10px;
  background-image: url(./imagens/background1.png);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

section {
  padding: 5px 100px 5px 50px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}

.principal h1 {
  font-size: 30px;
  margin: 5px;
}

.principal h2 {
  font-size: 15px;
}

.principal ul li {
  font-size: 12px;
}

.principal img {
  width: 200px;
  margin: 10px;
}

.center {
  padding: 50px;
}

.last {
  padding: 50px;
}

